*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-size: 15px;
    margin: 0;
}

.box {
    width: 20%;
    max-width: 500px;
    height: 840px;
    margin: 0;
    border-right: solid 2px #808080;
}
.back-header {
    height: 850px;
    background: url(img/head.png) center no-repeat;
    background-size: cover;
}
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.logo{
    display: block;
    padding: 50px 70px;
}
.link {
    text-decoration: none;
    color: #808080;
    font-size: 30px;
    margin: 50px;
    border: solid 2px #b31aeb;
}
.link:hover {
    color: #53e700;
}